
:root {
    /* fonts */
    --font-display: sans-serif;
    --font-body: serif;
  
    /* colors */
    --color-danger: red;
    --color-info: lightblue;
    --color-success: lightgreen;
}

* {

}

hmtl {
    
}

body {
    
}
