
:root {
    /* fonts */
    --font-display: sans-serif;
    --font-body: serif;
  
    /* colors */
    --color-primary: white;
    --color-secondary: black;
    --color-danger: red;
    --color-info: lightblue;
    --color-success: lightgreen;
    --color-alert: yellow;
}

* {

}

hmtl {
    box-sizing: border-box;
    padding: 0;
}

body {
    
}
